 .menu{
  box-shadow: 2px 2px 2px black;
  width: 100%;
  font-family: Oxygen;
 }

 .menu li {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 18px;
 }

 .menu ul{
   margin-left: 55%;
 }

 .menu a {
   text-decoration: none;
   color: #484FDB;
 }

 .menu a:hover {
   color: #FCD02C;
 }

 .menu a.active {
   color: #FCD02C;
 }
