html {
    margin:0;
    padding: 0;
}
.menu{
  grid-area: nav;
  height: auto;
}
.left-side{
  grid-area:left-side;
}
.info{
  grid-area:info
}

#profile {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "nav nav nav nav "
    "left-side info info info";
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto Slab', serif;
}

#profile-sidebar {
    display: grid;
    grid-template-rows: 2fr repeat(4, 1fr);
    border: 1px solid black;
    height:100%;
    background-color: #FCD02C;
}

.profile-sidebar-item {
    background-color: #EFC010;
    margin-top:2%;
    margin-bottom:2%;
    padding:2%;
}

.profile-sidebar-item-title {
    color: white;
    font-size: 1.5em;
    margin-left: 5%;
}

#profile-info {
    display: grid;
    border: 1px solid black;
}

.history{

}

.recipes{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 10%;
  opacity: 0;
}

.settings{
  opacity: 0;
}

.card{
  border: 2px solid black;
  border-radius: 30%;
}

#canvas{
  grid-area:canvas;
  border: 1px solid black;
}
